<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="topnav">
        <a  href="/home">Home</a>
        <a  class="active"href="/create" >Create</a>
        <a   href="/update">Update</a>
        <a href="#about">About</a>
      </div>
      <div class="form">
        <form action="/create" method ="post">

        
        <fieldset>
            <legend>
                Create users
            </legend>
            <div class="input" >
                <lable>Email</lable>
                <input type="'text" id="emailid" name="email"/>
            </div>
            <div class="input" >
                <lable>Name</lable>
                <input type="'text" id="nameid" name="name"/>
            </div>
            <div class="input" >
                <lable>City</lable>
                <input type="'text" id="Cityid" name="City"/>
            </div>
            <div class="button">
                <button>
                    save
                </button>
            </div>
        </fieldset>

    </form>
      </div>
</body>
</html>